<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>B123 Booking</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <!-- navbar -->
  <div id="main-div" class="container">
    <h1 class="text-center my-5">Welcome to Batch 123 Booking System</h1>
    <hr>
    <h3 class="text-center">Available Courses:</h3>
    <div id="courses-div"></div>
    <hr>
  </div>

        <nav class="nav navbar-default">
            <h2 style="text-align:center;">Add Course </h2>
        </nav>
    </header>

    <div id="app">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <h5>Name</h5>
                    <input type="text" class="form-control" v-model="course">
                    <h5>Description</h5>
                    <input type="text" class="form-control" v-model="category">
                    <h5>Price</h5>
                    <input type="text" class="form-control" style="margin-bottom:10px;" v-model="price">
                    <button class="btn btn-primary" @click="addCourse">Submit</button>
                </div>
            </div>
        </div>
        <!-- create a table that display all the input date -->
        <div class="container" v-if="length>0">
            <h5>
               All the input Data:  
            </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="data in storage">
                    <tr>
                      <td>{{data.course}}</td>
                      <td>{{data.description}}</td>
                      <td>{{data.price}}</td>
                      <td><span class="glyphicon glyphicon-remove" @click="removeCourse(data)"></span></td>
                    </tr>
                  </template>
                </tbody>
            </table>

        </div>
    </div>
</head>
<body>

<!-- JS Dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- External JS -->
<script type="text/javascript" src="./addCourse.js"></script>
</body>
</html>